---
---

@import "{{ site.theme }}";

header {
     background-image:url("../images/maggio2020.jpg");
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center center;
     border: 0px solid;
     width: device-width;
     height: 12em;
}

#bgimage {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../images/maggio2020.jpg") no-repeat center top;
  position: fixed; 
  z-index: -1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
