---
---

@import "{{ site.theme }}";

header {
     background-image:url("../images/maggio2020.jpg");
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center center;
     border: 0px solid;
     width: device-width;
}

header > div {
     border: 0px solid;
}
